<form action="/cars" method="post">
  <label for="makeModel">Add a new car</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Add the price</label>
  <input id="price" name="price" type="number">
  <label for="miles">Add its miles</label>
  <input id="miles" name="miles" type="number">
  <button type="submit">Submit</button>
</form>